/*testimonies.css*/
body {
	background-color: #edf2f8;
	font-size: 17px;
	text-align: center;
}
img {
	width: 40px;
	height: 40px;
	border-radius: 40px;
}
.main {
	display: grid;
	gap: 10px;
	justify-items: center;
	align-items: center;
}
#daniel_clifford {
	background-color: #9063CD;
	border-radius: 20px;
	height: 50vh;
	margin-left: 10px;
}
#jonathan_walters {
	background-color: #49556b;
	border-radius: 20px;
	width: 1fr;
	height: 50vh;
}
#kira_whittle {
	background-color: #ffffff;
	border-radius: 20px;
	width: 1fr;
	height: 50vh;
	position: scroll;
}
#jeanette_harmon {
	background-color: #ffffff;
	border-radius: 20px;
	width: 1fr;
	height: 50vh;
}
#patrick_abrams {
	background-color: #18202d;
	border-radius: 20px;
	width: 1fr;
	height: 50vh;
}
.white_heading {
	color: #ffffff;
}
.top_row {
	display: grid;
	grid-template-columns: 6fr 2fr 2fr;
	column-gap: 10px;
}
.bottom_row {
	display: grid;
	grid-template-columns: 2fr 6fr 2fr;
	column-gap: 10px;
}
.person {
	display: flex;
	align-items: center;
	margin: 10 auto;
	flex-wrap: wrap;
}
.qualification {
	opacity:50%;
	margin-top: 0px;
	padding: 0px;
}
.quote {
	opacity: 70%;
	margin-top: 20px;
}
.names {
	display: flex;
	flex-direction: column;
}